<% layout("/layouts/boilerplate") %>
<body>
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <h3>Edit your Listing</h3>
      <form
        method="POST"
        action="/listings/<%=listing._id%>?_method=PUT"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="Title" class="form-label">Enter Title</label>
          <input
            type="text"
            name="listing[title]"
            value="<%= listing.title%>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a valid title</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Enter Description</label>
          <textarea name="listing[description]" class="form-control" required>
                <%= listing.description %> </textarea
          >
          <div class="invalid-feedback">Please enter a short description</div>
        </div>
        <div class="mb-3">
            Original listing image <br>
          <img src="<%= originalImageUrl %>" alt="" />
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload new Image File</label>
          <input type="file" name="listing[image]" class="form-control" />
          <div class="invalid-feedback">Please enter a valid link</div>
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="Price" class="form-label">Enter price</label>
            <input
              type="number"
              name="listing[price]"
              value="<%= listing.price%>"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please enter a valid price</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Enter country</label>
            <input
              type="text"
              name="listing[country]"
              value="<%= listing.country%>"
              class="form-control"
              required
            />
            <div class="invalid-feedback">
              Please enter a valid country name
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Enter Location</label>
          <input
            type="text"
            name="listing[location]"
            value="<%= listing.location%>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a valid location</div>
        </div>
        <button class="btn btn-dark edit-btn mt-3">Edit</button>
      </form>
    </div>
  </div>
  <!-- <script src="/js/script.js"></script> -->
</body>
